@use "./base.scss";

/* время публикации заметки */
.section .meta time {
  font-size: 0.8em;
  color: #666;
}

/* Меньший шрифт для тегов */
.section .tags li a.tag-link {
  font-size: 0.8em;
  color: #777;
}

/* настройка пути файлов */
.breadcrumb-container .breadcrumb-element:first-child a {
  font-size: 0; /* скрываем оригинальный текст */
  position: relative;
}

.breadcrumb-container .breadcrumb-element:first-child a::after {
  content: "Начало";
  font-size: 1rem;
}

/* компактный режим, шрифт и разделители в проводнике */
.explorer .title-button.desktop-explorer {
  display: none !important;
}

.explorer-content ul li > a {
  font-family: var(--headerFont) !important;
  color: var(--secondary) !important;
  transition: color 0.2s;
  border-bottom: 1px solid #a3a3a3;
  padding-bottom: 4px;
  margin-bottom: 4px;
}

.explorer-content ul li > a:hover {
    color: var(--tertiary) !important; /* цвет при наведении */
}

/* компактный режим недавних заметок */
.recent-notes>ul.recent-ul>li {
  margin:0.5rem 0;
}

.recent-notes>ul.recent-ul>li .section>.desc>h3>a {
  font-size: 1rem;
}

.recent-notes>ul.recent-ul>li .section>.meta {
  line-height: 50%;
}