@use "./base.scss";

/* изображение над сайдбаром */
.left.sidebar:before {
  content:"";
  background-size:cover;
  width:100%;
  height:184px;
  display:block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
}

:root[saved-theme="light"] .left.sidebar::before {
    background-image: url('/files/day.png');
}

/* Тёмная тема */
:root[saved-theme="dark"] .left.sidebar::before {
    background-image: url('/files/night.png');
}

/* заголовок */
.left.sidebar .page-title a {
  font-size: 1.2em;
}

:root[saved-theme="light"] .left.sidebar .page-title a {
  color: #8b2e3d !important;
}

:root[saved-theme="dark"] .left.sidebar .page-title a {
  color:#d4b97f !important;
}

/* время публикации заметки */
.section .meta time {
  font-size: 0.8em;
  color: #666;
}

/* Меньший шрифт для тегов на странице тегов */
a.internal.tag-link {
  font-size: 0.9em;
}

/* Меньший шрифт для тегов под имененм страницы*/
.section .tags li a.tag-link {
  font-size: 0.8em;
  color: #777;
}

/* Убрать заливку внутренних ссылок */
a.internal {
  background-color: transparent !important;
}

/* настройка пути файлов */
.breadcrumb-container .breadcrumb-element:first-child a {
  font-size: 0; /* скрываем оригинальный текст */
  position: relative;
}

.breadcrumb-container .breadcrumb-element:first-child a::after {
  content: "Начало";
  font-size: 1rem;
}

/* настройки проводника + компактный режим */
.explorer .title-button.desktop-explorer {
  display: none !important;
}

.explorer-content ul li > a {
  font-family: var(--headerFont) !important;
  color: var(--secondary);
  transition: color 0.2s;
  border-bottom: 1px solid #a3a3a3;
  padding-bottom: 4px;
  margin-bottom: 4px;
}

.explorer-content .folder-outer > ul {
  border-left: 1px solid var(--gray);  /* фикс цвета левой полосы в светлой теме */
}

.explorer-content ul li > a.active {
  color: var(--secondary);
}

.explorer-content ul li > a:hover {
    color: var(--tertiary) !important; /* цвет при наведении */
}

.folder-container div > a {
  font-size: 1.2rem;  /* размер имени папки */
  margin-bottom: 1rem;
  color: var(--dark);  /* черный цвет */
}

.folder-icon {
  display: none; /* скрыть иконку разворачивания */
}

:root[saved-theme="light"] .explorer-content ul li > a.active {  /* цвет активной страницы */
  color: #8b2e3d;
}

:root[saved-theme="dark"] .explorer-content ul li > a.active {
  color: #d4b97f;
}

/* компактный режим недавних заметок */
.recent-notes>ul.recent-ul>li {
  margin:0.5rem 0;
  padding-left: 1rem;
}

.recent-notes>ul.recent-ul>li .section>.desc>h3>a {
  font-size: 1rem;
}

.recent-notes>ul.recent-ul>li .section>.meta {
  line-height: 50%;
}

.recent-notes > h3 {
  font-size: 1.2rem;  /* размер заголовка */
}

/* плеер */
.audio-row {
  align-items:center;
  gap:4px;
  margin:10px 0;
  display:flex;
  align-items: flex-start; /* прижать к левому краю */
  flex-direction: column; /* вертикальная колонка */
  width: 100%; /* чтобы занимало всю ширину */
}
.audio-row audio {
  background-color:#abcfff;
  border-radius:14px;
  width: 50%; /* плеер растягивается на всю ширину контейнера */
  height:32px;
}
.audio-row .audio-title {
  opacity:.85;
  max-height:2.2em;
  font-size:.9em;
  font-style:italic;
  line-height:1.1em;
  overflow:hidden
}

/* фикс цвета разделителя в светлой теме */
:root[saved-theme="light"] hr {
    background-color: lightgray;
}

ul.toc-content.overflow > li > a {
  font-family: var(--headerFont);
}

.backlinks > ul.overflow > li > a {
  font-family: var(--headerFont);
}

/* минималисточность на странице всех заметок и тегов */

li.section-li {
  margin-bottom: 0;
}

li.section-li > .section {   
  grid-template-columns: 8em 1fr 1fr;
}

:root[saved-theme=light] li.section-li>.section {
  border-bottom:1px solid #d3d3d3
}
:root[saved-theme=dark] li.section-li>.section {
  border-bottom:1px solid #404040
}
:root[saved-theme=light] li.section-li:last-child>.section {
  border-bottom:none
}
:root[saved-theme=dark] li.section-li:last-child>.section {
  border-bottom:none
}

li.section-li:last-child > .section  {   
  border-bottom: none;
}

ul.section-ul {
  margin-top: 0em;
}

div.popover-hint div div div.page-listing > p {
  margin: 4px;
  display: none !important;
}

div.popover-hint div div h2 {
  margin: 0;
}

/* цвета для блока спойлера:
<div style="background: var(--spoiler-bg);
  padding: 1em;
  border: 1px solid var(--spoiler-border);
  border-radius: 10px;
  box-shadow: var(--spoiler-shadow);">
<details>
<summary style="cursor: pointer; font-weight: 600;">Открыть</summary>
<div style="margin-top: 16px; margin-left: 26px;">
Текст под спойлером.
</div>
</details>
</div>
*/
:root[saved-theme="light"] {
  --spoiler-bg: #dfddd3;
  --spoiler-border: #d7d4cf;
  --spoiler-shadow: 0 2px 8px rgba(0,0,0,0.08);
}

:root[saved-theme="dark"] {
  --spoiler-bg: #232937;
  --spoiler-border: #1b1e26;
  --spoiler-shadow: 0 2px 10px rgba(0,0,0,0.3);
}

/* фиксы мобильного интерфейса */
@media (max-width:800px) {
  .left.sidebar:before {
    width:40%;
    min-width:40%;
    height: 100%;
  }
  .article-title {
    margin:0 0 0;
  }
  .explorer {
    margin-top:0;
  }
  .audio-row audio {
  width:100%;
  }
  li.section-li > .section {   
  grid-template-columns: 8em 1fr;
  }
}