@use "./base.scss";

/* заголовок */
.left.sidebar .page-title a {
  font-size: 1.2em;
}

:root[saved-theme="light"] .left.sidebar .page-title a {
  color: #8b2e3d !important;
}

:root[saved-theme="dark"] .left.sidebar .page-title a {
  color:#d4b97f !important;
}

/* время публикации заметки */
.section .meta time {
  font-size: 0.8em;
  color: #666;
}

/* Меньший шрифт для тегов на странице тегов */
a.internal.tag-link {
  font-size: 0.9em;
}

/* Меньший шрифт для тегов под имененм страницы*/
.section .tags li a.tag-link {
  font-size: 0.8em;
  color: #777;
}

/* Убрать заливку внутренних ссылок */
a.internal {
  background-color: transparent !important;
}

/* настройка пути файлов */
.breadcrumb-container .breadcrumb-element:first-child a {
  font-size: 0; /* скрываем оригинальный текст */
  position: relative;
}

.breadcrumb-container .breadcrumb-element:first-child a::after {
  content: "Начало";
  font-size: 1rem;
}

/* настройки проводника + компактный режим */
.explorer .title-button.desktop-explorer {
  display: none !important;
}

.explorer-content ul li > a {
  font-family: var(--headerFont) !important;
  color: var(--secondary) !important;
  transition: color 0.2s;
  border-bottom: 1px solid #a3a3a3;
  padding-bottom: 4px;
  margin-bottom: 4px;
}

.explorer-content ul li > a:hover {
    color: var(--tertiary) !important; /* цвет при наведении */
}

.folder-container div > a {
  font-size: 1.2rem;  /* размер имени папки */
  margin-bottom: 1rem;
}

.folder-icon {
  display: none; /* скрыть иконку разворачивания */
}

/* компактный режим недавних заметок */
.recent-notes>ul.recent-ul>li {
  margin:0.5rem 0;
  padding-left: 1rem;
}

.recent-notes>ul.recent-ul>li .section>.desc>h3>a {
  font-size: 1rem;
}

.recent-notes>ul.recent-ul>li .section>.meta {
  line-height: 50%;
}

.recent-notes > h3 {
  font-size: 1.2rem;  /* размер заголовка */
}

/* плеер */
.audio-row {
  display: flex;
  align-items: center;
  gap: 12px; /* расстояние между плеером и названием */
  margin: 10px 0;
}

.audio-row audio {
  width:300px;
  background-color: #abcfff;
  border-radius: 14px;
  height:32px
}

.audio-row .audio-title {
  font-style: italic;     /* курсив */
  font-size: 0.9em;       /* чуть меньше обычного */
  opacity: 0.85;          /* лёгкое смягчение цвета — красиво смотрится */
}